<html>
    <head>
        <title>Rocket</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="./style.css" rel="stylesheet" >
    </head>
    <body>
       <%- include('header') %>
        <aside>
            <h2>
                Editar Categoria:
                <a href="/admin/categorias" >Categorias</a>
            </h2>
            </div>
                <form method="POST" >
                    <label>Categoria:</label>
                    <input type="text" name="categoria" value="<%= categoria.categoria%>" />
                    <button>Salvar categoria</button>
                </form>
            </div>
        </aside>
    </body>
</html>
    
