<html>
    <head>
        <title>Rocket</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet" >
    </head>
    <body>
       <%- include('header') %>
        <aside>
            <h2>
                Administrador de Vagas:
                <a href="/admin/novavaga" >Nova Vaga</a></h2>
            <div>
                <% vagas.forEach( vaga => { %>
                <ul>
                    <li> <%- vaga.titulo %> | 
                        <a href="/admin/vagas/delete/<%- vaga.id%>" >Excluir</a>
                        <a href="/admin/vagas/update/<%- vaga.id%>" >Editar</a>
                    </li>
                    
                </ul>
                <% }) %>
            </div>
        </aside>
    </body>
</html>
    
