<html>
    <head>
        <title>Rocket</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="./style.css" rel="stylesheet" >
    </head>
    <body>
       <%- include('header') %>
        <aside>
            <h2><%- vaga.titulo %></h2>
            <div>
                <%- vaga.descricao %>
            </div>
        </aside>
    </body>
</html>
    
